<p>company-search works!</p>

<form >

    <table>
        <tr>
            <td>
                <input type="text" placeholder="company" class="form-control" formControlName="companyName" >
            </td>
            <td>
                <input type="date" class="form-control" formControlName="dateFrom">
            </td>
            <td>
                <input type="date" class="form-control" formControlName="dateTo">
            </td>
            <td>
                <input type="submit" value="Search">
            </td>
        </tr>
    </table>
</form>