<p>company-search works!</p>
<div class="container">  
    <form >
        <table class="table">
            <tr>
                <td>
                    <input type="text" placeholder="company"  [(ngModel)]="companyName" name="companyName">
                </td>
                <td>
                    <input type="date"  [(ngModel)]="date1"  name="date1">
                </td>
                <td>
                    <input type="date"  [(ngModel)]="date2" name="date2">
                </td>
                <td>
                    <input type="submit" value="Search" (click)="companyStock()" >
                </td>
            </tr>
        </table>
    </form>

    <div class="card">
        <div *ngIf="clicked" >
            
        </div>
    </div>

</div>